In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import warnings 
warnings.filterwarnings('ignore')

In [3]:
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import LabelEncoder 
from sklearn.preprocessing import StandardScaler

In [4]:
from sklearn.metrics import classification_report

In [5]:
df=pd.read_csv('iris.csv')

In [6]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [7]:
df.tail()

     sepal_length  sepal_width  petal_length  petal_width         species
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [8]:
df.shape

(150, 5)

In [9]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [10]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
sepal_length    150 non-null float64
sepal_width     150 non-null float64
petal_length    150 non-null float64
petal_width     150 non-null float64
species         150 non-null object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [12]:
df['species'].value_counts()

Iris-versicolor    50
Iris-virginica     50
Iris-setosa        50
Name: species, dtype: int64

In [13]:
le=LabelEncoder()

In [14]:
df['species']=le.fit_transform(df['species'])

In [15]:
df['species'].value_counts()

2    50
1    50
0    50
Name: species, dtype: int64

In [16]:
df['species'].unique()

array([0, 1, 2], dtype=int64)

In [17]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [18]:
X=df.drop('species',axis=1)
Y=df['species']

In [19]:
X.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [20]:
Y.head()

0    0
1    0
2    0
3    0
4    0
Name: species, dtype: int32

In [21]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=1,stratify=Y)

In [22]:
def create_model(model):
    model.fit(X_train,Y_train)
    Y_pred=model.predict(X_test)
    print(classification_report(Y_test,Y_pred))

In [23]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()

In [24]:
create_model(lr)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        15
           1       0.94      1.00      0.97        15
           2       1.00      0.93      0.97        15

    accuracy                           0.98        45
   macro avg       0.98      0.98      0.98        45
weighted avg       0.98      0.98      0.98        45

In [25]:
from sklearn.tree import DecisionTreeClassifier
dt=DecisionTreeClassifier()

In [26]:
create_model(dt)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        15
           1       0.94      1.00      0.97        15
           2       1.00      0.93      0.97        15

    accuracy                           0.98        45
   macro avg       0.98      0.98      0.98        45
weighted avg       0.98      0.98      0.98        45

In [27]:
dt1=DecisionTreeClassifier(max_depth=8)
dt2=DecisionTreeClassifier(min_samples_leaf=50)
dt3=DecisionTreeClassifier(min_samples_leaf=50,criterion="entropy")

In [28]:
create_model(dt1)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        15
           1       0.94      1.00      0.97        15
           2       1.00      0.93      0.97        15

    accuracy                           0.98        45
   macro avg       0.98      0.98      0.98        45
weighted avg       0.98      0.98      0.98        45

In [29]:
create_model(dt2)

              precision    recall  f1-score   support

           0       0.62      1.00      0.77        15
           1       0.00      0.00      0.00        15
           2       0.71      1.00      0.83        15

    accuracy                           0.67        45
   macro avg       0.45      0.67      0.53        45
weighted avg       0.45      0.67      0.53        45

In [30]:
create_model(dt3)

              precision    recall  f1-score   support

           0       0.62      1.00      0.77        15
           1       0.00      0.00      0.00        15
           2       0.71      1.00      0.83        15

    accuracy                           0.67        45
   macro avg       0.45      0.67      0.53        45
weighted avg       0.45      0.67      0.53        45

In [31]:
from sklearn.svm import LinearSVC
svc=LinearSVC(random_state=1)
svc1=LinearSVC(random_state=1,C=0.5)

In [32]:
create_model(svc)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        15
           1       1.00      1.00      1.00        15
           2       1.00      1.00      1.00        15

    accuracy                           1.00        45
   macro avg       1.00      1.00      1.00        45
weighted avg       1.00      1.00      1.00        45

In [33]:
create_model(svc1)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        15
           1       1.00      1.00      1.00        15
           2       1.00      1.00      1.00        15

    accuracy                           1.00        45
   macro avg       1.00      1.00      1.00        45
weighted avg       1.00      1.00      1.00        45

In [34]:
from sklearn.svm import SVC
POLY_SVC=SVC(random_state=1,kernel="poly")
RADIAL_SVC=SVC(random_state=1,kernel="rbf")

In [35]:
create_model(POLY_SVC)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        15
           1       1.00      1.00      1.00        15
           2       1.00      1.00      1.00        15

    accuracy                           1.00        45
   macro avg       1.00      1.00      1.00        45
weighted avg       1.00      1.00      1.00        45

In [36]:
create_model(RADIAL_SVC)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        15
           1       0.94      1.00      0.97        15
           2       1.00      0.93      0.97        15

    accuracy                           0.98        45
   macro avg       0.98      0.98      0.98        45
weighted avg       0.98      0.98      0.98        45

In [37]:
from sklearn.naive_bayes import GaussianNB
gs=GaussianNB()
from sklearn.naive_bayes import MultinomialNB
mn=MultinomialNB()

In [38]:
create_model(gs)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        15
           1       0.94      1.00      0.97        15
           2       1.00      0.93      0.97        15

    accuracy                           0.98        45
   macro avg       0.98      0.98      0.98        45
weighted avg       0.98      0.98      0.98        45

In [39]:
create_model(mn)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        15
           1       1.00      0.93      0.97        15
           2       0.94      1.00      0.97        15

    accuracy                           0.98        45
   macro avg       0.98      0.98      0.98        45
weighted avg       0.98      0.98      0.98        45

In [40]:
import math
math.sqrt(len(Y_test))

6.708203932499369

In [41]:
from sklearn.neighbors import KNeighborsClassifier
cls=KNeighborsClassifier(n_neighbors=7)
create_model(cls)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        15
           1       0.94      1.00      0.97        15
           2       1.00      0.93      0.97        15

    accuracy                           0.98        45
   macro avg       0.98      0.98      0.98        45
weighted avg       0.98      0.98      0.98        45

In [42]:
from sklearn.ensemble import BaggingClassifier
bc=BaggingClassifier(LogisticRegression(),n_estimators=10,max_samples=10,random_state=1)
bc1=BaggingClassifier(LogisticRegression(),n_estimators=10,max_samples=10,random_state=1,bootstrap=False)

In [43]:
create_model(bc)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        15
           1       0.90      0.60      0.72        15
           2       0.70      0.93      0.80        15

    accuracy                           0.84        45
   macro avg       0.87      0.84      0.84        45
weighted avg       0.87      0.84      0.84        45

In [44]:
create_model(bc1)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        15
           1       0.80      0.80      0.80        15
           2       0.80      0.80      0.80        15

    accuracy                           0.87        45
   macro avg       0.87      0.87      0.87        45
weighted avg       0.87      0.87      0.87        45

In [49]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier(random_state=1)

In [50]:
create_model(rf)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        15
           1       0.94      1.00      0.97        15
           2       1.00      0.93      0.97        15

    accuracy                           0.98        45
   macro avg       0.98      0.98      0.98        45
weighted avg       0.98      0.98      0.98        45

In [51]:
from sklearn.ensemble import AdaBoostClassifier
ada=AdaBoostClassifier(n_estimators=100)
from sklearn.ensemble import GradientBoostingClassifier
gbc=GradientBoostingClassifier(n_estimators=100)
from xgboost import XGBClassifier
xgb=XGBClassifier(n_estimators=100,reg_alpha=1)

In [52]:
create_model(ada)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        15
           1       0.83      1.00      0.91        15
           2       1.00      0.80      0.89        15

    accuracy                           0.93        45
   macro avg       0.94      0.93      0.93        45
weighted avg       0.94      0.93      0.93        45

In [53]:
create_model(gbc)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        15
           1       0.94      1.00      0.97        15
           2       1.00      0.93      0.97        15

    accuracy                           0.98        45
   macro avg       0.98      0.98      0.98        45
weighted avg       0.98      0.98      0.98        45

In [54]:
create_model(xgb)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        15
           1       0.94      1.00      0.97        15
           2       1.00      0.93      0.97        15

    accuracy                           0.98        45
   macro avg       0.98      0.98      0.98        45
weighted avg       0.98      0.98      0.98        45